html {
    font-family: Consolas, sans-serif;
}

#head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: blanchedalmond;
}

#body {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    height: 60%;
    bottom: 20%;
    background: rosybrown;
    text-align: center;
    overflow: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: aquamarine;

}

.button-submit {
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px;
    border: 2px solid black;
    font-family: Consolas, sans-serif;
}

.button-submit:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}