#head > h1 {
    text-align: center;
}

.login {
    border: 2px solid black;
    display: inline-block;
    position: relative;
    padding: 30px;
    min-height: 200px;
    margin-top: 5%;
    box-shadow: 1px 7px 40px 15px rgba(0,0,0,0.19)
}

.login > form {
    display: table-caption;
    float: left;
}

.login > form input:not([type="submit"]):not([type="button"]) {
    margin-bottom: 20%;
}

.logicon{
    float: left;
    margin-right: 10px;
}

#registro {
    display: block;
    margin: 10% auto auto auto;
}