html {
    font-family: Consolas;
}

#head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: blanchedalmond;
}

#head > h1 {
    text-align: center;
}

#body {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    height: 60%;
    bottom: 20%;
    background: rosybrown;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: aquamarine;

}

.login {
    border: 2px solid black;
    display: inline-block;
    position: relative;
    padding: 30px;
    min-height: 200px;
    margin-top: 5%;
}

.login > form {
    display: table-caption;
}

.login > form input {
    margin-bottom: 20%;
}